html{
    scroll-behavior: smooth;
}


*{ margin: 0; padding: 0; box-sizing: border-box; }

a{text-decoration: none;}

a:hover{ text-decoration: none;}

li{list-style: none;}

.header{
    width: 100%;
    height: 100vh;
    background-image: url("img.jpg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nav-item a{
    color: rgb(157, 248, 53)!important;
    font-weight: bold;
}
.header section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}

.center-div{
    width: 100px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}
.navbar-brand{
    color: rgb(199, 61, 164);
}
.header-buttons a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 0 0;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.4;
    text-align: center;
    color: purple;
}

.header-buttons a:hover{
    color:rgb(199, 61, 164);
    background: seagreen;
    text-decoration: none;
    box-shadow: 0 0 20px 00 rgba(0,0,0,0.3);

}

.center-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: rgb(236, 204, 22);
}
/* *******************extra header div css start****** */
.header-extradiv{
    width: 100%; height: auto;
    margin: 100px 0;
    text-align: center;
}

.extra-div{
    background: rgb(54, 117, 70);
    border: medium none;
    padding: 50px!important;
    border-radius: 3px;
    transition: 0.3s;
}

.extra- h2, .servicediv h2{
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}
/* ***********actual css start************ */

.extra-div:hover{
    box-shadow: 0 0 20px 00 rgba(228, 183, 35, 0.3);
    transform: translateY(-20px);
}

/* ***************************extra header div css end************ */

/* ***************************service offers css start *************/

.serviceffers{
    background: grey;
    padding: 50px 0;
    margin-bottom: 50px;
}

.headings{
    margin-bottom: 50px;
}

.headings h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.names h1{
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;


}
.service-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress{
    height: 0.6rem!important;
    margin-bottom: 25px!important;
    background: #606060;
    
}
i{
    color: #2ffcd0;
}

/* ***************************service offers css end *************/

.project-work{
    margin: 100px 0;
}

.project-works h1{
    font-size: 2rem;
    text-align: center;

}

/* ****************************award won ends*************** */

/* ****************************PRICING START*************** */
.pricing{
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
}

.pricing:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: .3;
    z-index: -1;
    background-color: hotpink;

}

.money{
    font-size: 40px;
    line-height: 1;
    color: #606060;
}
.card{
    transition: 0.4s ease;
}
.card-holder{
    font-size: 1.6rem;
    font-weight: bold;
    background: #fff!important;
    padding: 25px 9!important;
}

.card-body{
    padding: 30px 0!important;

}

.card-body li{
    margin: 10px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #606060;

}

.card-footer{
    background: white!important;
    padding: 30px 0px!important;
}

.card-footer a{
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    color: #50d1c0;
}

.card:hover .card-footer a{
    color: #fff;
    background: #50d1c0;
    text-decoration: none;
    box-shadow: 0 0 20px 00 rgba(0,0,0,0.3);

}

.card:hover{
    transform: translate(-20px);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.card:hover{
    transform: translate();
}

.card:hover .card-holder, .card:hover .money{
    color:#50d1c0;

}
.card-second{
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

/* ****************************PRICING ends*************** */

/* *********************************custumer feedback start****************************** */

.happyclient{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
}

.box{
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    transition: 00.3s ease;

}
.box:hover{
    background: #16c9f6!important;
}

.box:hover p{
    color: white;
}

.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -60px!important;
}

.carousel-indicators li{
    background-color: #16c9f6!important;
}
.box a{
    position: relative;

}

.box a img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}

/* *********************************custumer feedback ends****************************** */

/* ************************************ contact us starts***************************** */

.contactus{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: relative;
} 
/* ************************************ contact us end***************************** */
/* ************************************ newsletter starts***************************** */
.newletter{
    width: 100%;
    height: auto;
    margin: 80px auto;

}

.news-input{
    border-radius: 100px 0px 0px 100px!important;
    min-width: 150px;
    min-width: 45px;

}
.input-group-text{
    color: #fff!important;
    background: #315664!important;
    border-radius: 0 100px 100px 0!important;
    min-width: 120px;
    min-height: 40px;
}

/* ************************************footer start***************************** */
.footersection{
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
    background: #19b62e;
    position: relative;
}

.footersection p{
    color: #fff;


}
.footersection li a{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
}
.footersection h3{
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
    font-size: 1.2rem!important;
    font-weight: 600;
    text-shadow: 0 2px 5px rgb(199, 61, 164);

}
#mybtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    color: rgb(145, 16, 16);
    background: #00abff;
    padding: 10px;
    border-radius: 10px;

}

#mybtn:hover{
    background: #606600;
}

/* ************************************footer ends***************************** */

/* ******************media queries***************************** */

@media(max-width: 768px){
    .nav-item{
        text-align: center!important;
    }

    .pricing{
        height: auto;
        margin-top: 50px;
    }

}

